# Ejercicios para practicar - Estructura de datos

A continuación encontraréis un conjunto de problemas que pueden servir para practicar los conceptos explicados en esta primera unidad, así como para refrescar los conceptos básicos de programación. Os recomendamos que intentéis realizar estos problemas vosotros mismos y que, una vez realizados, comparéis la solución que proponemos con vuestra solución. No dudéis en dirigir todas las dudas que surjan de la resolución de estos ejercicios, o bien de las soluciones propuestas, al foro del aula.

1. Decidid cuál es la estructura de datos más adecuada para responder a cada una de las preguntas siguientes y escribid el código que permita responderlas.

Disponemos de datos de un conjunto de ciudades del mundo. De cada ciudad, sabemos si tiene más de 14 millones de habitantes, si es capital del país donde se encuentra y si tiene una densidad de población por encima de los 20.000 habitantes por $km^2$:
* Las ciudades Shanghai, Beijing, Delhi, Estambul, Karachi, Guangzhou y Kinshasa tienen más de 14 millones de habitantes. El resto de las ciudades de las que tenemos datos tienen 14 millones o menos de habitantes.
* Las ciudades Delhi, Beijing, Kinshasa, Tokio, Moscow, Jakarta, Seoul y El Cairo son capitales del país donde se encuentran. El resto de las ciudades de las que tenemos datos no son capitales.
* Las ciudades El Cairo, Kinshasa, Delhi y Tokio tienen una densidad de población por encima de los 20.000 habitantes por $km^2$. El resto de las ciudades de las que tenemos datos no superan los 20.000 habitantes por $km^2$. 

1.1. ¿De cuántas ciudades (diferentes) tenemos datos? Asumiremos que no hay ninguna ciudad que no cumpla al menos una de las propiedades anteriores.

In [5]:
# Respuesta

import pandas as pd;

ciudades = {'ciudad': ['Shanghai','Beijing','Delhi','Estambul','Karachi','Guangzhou','Kinshasa','Tokio','Moscow','Jakarta','Seoul','El Cairo'],
        'mayor_hab': [True,True,True,True,True,True,True,False,False,False,False,False],
        'capital' : [False,True,True,False,False,False,False,True,True,True,True,True],
        'mayor_densidad': [False,False,True,False,False,False,True,True,False,False,False,True]}
df = pd.DataFrame(data=ciudades)

print('Ciudades diferentes: ',df.shape[0])

Ciudades diferentes:  12

1.2. ¿Cuántas ciudades tienen más de 14 millones de habitantes y una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $?

In [6]:
# Respuesta
df[(df['mayor_hab']==True) & (df['mayor_densidad']==True)]

     ciudad  mayor_hab  capital  mayor_densidad
2     Delhi       True     True            True
6  Kinshasa       True    False            True

1.3. ¿Qué ciudades tienen una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $ pero no más de 14 millones de habitantes?

In [7]:
# Respuesta
df[(df['mayor_hab']!=True) & (df['mayor_densidad']==True)]

      ciudad  mayor_hab  capital  mayor_densidad
7      Tokio      False     True            True
11  El Cairo      False     True            True

1.4. ¿Cuál es el país con mayor número de ciudades por encima de 14 millones de habitantes? ¿Cuántas ciudades de estas características hay en cada país?

Para responder a estas preguntas, nos faltará añadir información al conjunto de datos de ciudades disponible para realizar la actividad. Pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [60]:
# Respuesta
paises = ['China','China','India','Turquia','Pakistan','China','Congo','Japon','Rusia','Indonesia','Corea del sur','Egipto']
df['pais'] = paises
grouped = df.groupby(['pais','ciudad']).filter(lambda x: (x['mayor_hab'] == True).any())[['pais','ciudad']]

pais_group=grouped.groupby('pais').count().sort_values(by='pais')

print('Pais con mas ciudades: ',pais_group.iloc[0].name)
print('Ciudades de estas caracteristicas en cada pais: \n',pais_group)

Pais con mas ciudades:  China
Ciudades de estas caracteristicas en cada pais:
           ciudad
pais
China          3
Congo          1
India          1
Pakistan       1
Turquia        1

1.5. ¿Cuáles son los dos países adyacentes que tienen el mayor número de ciudades por encima de 14 millones de habitantes?

Para responder a esta pregunta, nos faltará añadir más información al conjunto de datos de ciudades disponible para realizar la actividad. De nuevo, pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [97]:
# Respuesta

2. Calculad cuántas horas ha trabajado la persona que ha escrito la siguiente frase:

"I started working at 17:22:42 and finished at 22:00:00"

In [107]:
sentence = "I started working at 17:22:42 and finished at 22:00:00"
import datetime;
# Respuesta
aux = sentence.split(' ')
tiempo1 = '00:00:00'
tiempo2 = '00:00:00'

for i in aux:
    if i[:1].isnumeric():
        if tiempo1 != '00:00:00':
            tiempo2 = i
        else:
            tiempo1 = i
tiempo = datetime.timedelta(hours=int(tiempo2[:2]),minutes = int(tiempo2[3:5]),seconds= int(tiempo2[6:7])) - datetime.timedelta(hours=int(tiempo1[:2]),minutes = int(tiempo1[3:5]),seconds= int(tiempo1[6:7]))

print('Tiempo trabajado: ',str(tiempo))

Tiempo trabajado:  4:37:56

3. Dada la cadena de caracteres `sentence`, reemplazad todos los espacios en blanco por puntos.

In [109]:
sentence = " From     time to time, Python makes  an    incompatible change " \
    " to the   advertised semantics of core language constructs   "

# Respuesta
aux=sentence.replace(' ','.')
aux

'.From.....time.to.time,.Python.makes..an....incompatible.change..to.the...advertised.semantics.of.core.language.constructs...'

4. Dada la misma cadena de caracteres del ejercicio anterior, reemplazad todos los espacios en blanco contiguos por un único punto. Es decir, si encontráis tres espacios en blanco consecutivos, estos se deben reemplazar por un único punto, y no por tres puntos como implementábamos en el ejercicio anterior. Eliminad los espacios que se encuentran al inicio y al final de la cadena antes de sustituirlos por puntos.

In [113]:
# Respuesta
aux = sentence.split()
res=".".join(aux)
res

'From.time.to.time,.Python.makes.an.incompatible.change.to.the.advertised.semantics.of.core.language.constructs'

5. Proporcionad una lista con todas las palabras de cuatro letras de la cadena de caracteres `sentence` que empiecen por `t` o `F`.

In [120]:
# Respuesta
aux = sentence.split()
lista=[]

[lista.append(i) for i in aux if len(i) == 4 and (i[:1]=='t' or i[:1]=='F')]

lista

['From', 'time']

6. Reemplazad todas las mayúsculas de la cadena `sentence` por interrogantes.

In [134]:
# Respuesta
aux = sentence.split()
newlist = []

[newlist.append(palabra.lower()) for palabra in aux]
resultado = ' '.join(newlist)
resultado

'from time to time, python makes an incompatible change to the advertised semantics of core language constructs'

7. Una aerolínea nos contrata para ayudarla a optimizar el procedimiento de embarque de sus aviones. La aerolínea dispone de tres clases de billetes: primera, *business* y turista. A la hora de embarcar, los clientes se sitúan en tres colas, una para cada clase. Después, sin embargo, solo hay dos azafatas que les validen la tarjeta de embarque, por lo que las tres colas iniciales se convierten en dos, a partir de las cuales los pasajeros acceden a los aviones.

Actualmente, la aerolínea utiliza la siguiente estrategia para convertir las tres colas iniciales (por clase) en las dos colas que embarcan (una por cada azafata):

Por un lado, los clientes de primera y *business* van a parar a la cola 1 (cola prioritaria), intercalando un cliente de cada tipo en la cola prioritaria siempre que haya suficientes clientes para hacerlo, y asignando después todos los clientes restantes a la nueva cola. Así, el primer cliente que se asigna a la cola prioritaria es el primer cliente de la clase primera, el segundo cliente de la cola prioritaria será el primer cliente de la cola de *business*, el tercer cliente de la cola prioritaria será el segundo cliente de la clase primera, etc.

Por otra parte, los clientes de clase turista van a parar a la cola 2 (cola no prioritaria), siguiendo el orden que tenían en la cola de la clase turista. Ahora bien, si un cliente de clase turista tiene movilidad reducida o va acompañado de niños, entonces este se sitúa al frente de la cola prioritaria. Si hay más de un cliente en estas condiciones, el orden que siguen en la cola de la clase turista se mantiene.

Para evaluar cómo de buena es la estrategia, la aerolínea utiliza dos métricas:
1. El tiempo que se tarda en embarcar el avión es de 30 segundos por pasajero, considerando que las dos colas (1 y 2) embarcan a la vez. Es decir, si la cola 1 tiene un pasajero y la cola 2 tiene dos, se tardará un minuto en embarcar.
2. La satisfacción global de sus clientes, que se calcula haciendo la media de la satisfacción de cada cliente, considerando que:

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

7.1 Cargad los datos de los pasajeros del vuelo 714 que encontraréis en el dataset `data/flight714.csv` y cread las tres colas, primera, *business* y turista, con los datos de los pasajeros. Los clientes se encuentran ordenados según su posición en la cola, con la columna `client_class` indicando a cuál de las colas pertenecen.

In [144]:
# Respuesta
df = pd.DataFrame()
df = pd.read_csv('flight714.csv')

df_colaturista = df[df['client_class']=='t']
df_colaprioritaria = df[df['client_class'].isin(['p','b'])]

    client_id client_class  has_children  has_reduced_mobility
0           1            p             0                     0
1           2            p             0                     0
2           3            p             0                     0
3           4            b             0                     0
4           5            b             0                     0
5           6            b             0                     0
6           7            b             0                     0
7           8            b             0                     0
8           9            b             0                     0
9          10            b             0                     0
10         11            b             0                     0
11         12            b             0                     0
12         13            b             0                     0

7.2 Mostrad cuántos pasajeros hay en cada cola, con el detalle de cuántos de ellos tienen o bien niños o bien movilidad reducida.

In [147]:
# Respuesta
esp_prio = len(df_colaprioritaria[(df_colaprioritaria['has_reduced_mobility']==1) | (df_colaprioritaria['has_children']==1)])
esp_turis = len(df_colaturista[(df_colaturista['has_reduced_mobility']==1) | (df_colaturista['has_children']==1)])
print('Cola prioritaria: ',df_colaprioritaria.shape[0],' Tiene movilidad reducida o niños: ',esp_prio)
print('Cola turista: ',df_colaturista.shape[0],' Tiene movilidad reducida o niños: ',esp_turis)

Cola prioritaria:  13  Tiene movilidad reducida o niños:  0
Cola turista:  37  Tiene movilidad reducida o niños:  6

7.3 Implementad una función que genere las dos colas de embarque (cola prioritaria y cola no prioritaria) a partir de las tres colas obtenidas según la clase del billete del pasajero.

In [105]:
# Respuesta

7.4 Implementad una función que calcule el tiempo que se tarda en embarcar el avión y una función que calcule la satisfacción de los pasajeros.

In [106]:
# Respuesta

7.5 Calculad el tiempo que se tarda en embarcar el vuelo 714 y la satisfacción de los clientes.

In [107]:
# Respuesta