In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([{"diciembre":123, "enero":534, "febrero":756, "marzo":980}])
df

   diciembre  enero  febrero  marzo
0        123    534      756    980

In [8]:
meses_valor = df.T
meses_valor

             0
diciembre  123
enero      534
febrero    756
marzo      980

In [13]:
meses_valor.columns=["Recuento"]

In [25]:
meses_valor

           Recuento
diciembre       123
enero           534
febrero         756
marzo           980

In [35]:
meses_valor["Recuento"][0]

123

In [37]:
tasa_abs= []
for i in range(1,len(meses_valor)):
    tasa_abs.append(meses_valor["Recuento"][i-1]/ meses_valor["Recuento"][i])
tasa_abs

[0.2303370786516854, 0.7063492063492064, 0.7714285714285715]

In [19]:
meses_valor.index

Index(['diciembre', 'enero', 'febrero', 'marzo'], dtype='object')

In [4]:
df.head

<bound method NDFrame.head of    diciembre  enero  febrero  marzo
0        123    534      756    980>

In [41]:
def tasa_absoluta(col, dat_frame):
    tasa_abs=[]
    for i in range(1,len(dat_frame)):
        tasa_abs.append(dat_frame[col][i-1]/ dat_frame[col][i])
    return tasa_abs
tasa_absoluta("Recuento", )

TypeError: object of type 'int' has no len()

In [46]:
df_moviles = pd.DataFrame([{2008:6.4, 2009:7.2, 2010:5.6, 2011:8}])
medias_moviles=df_moviles.T
medias_moviles

        0
2008  6.4
2009  7.2
2010  5.6
2011  8.0

In [50]:
medias_moviles.columns=["1ยบ Trimestre"]
medias_moviles.

TypeError: _LocationIndexer.__call__() takes from 1 to 2 positional arguments but 6 were given